/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.btnFileTransfer{
    /*-fx-background-image: url('/clientchat/resources/clips.png');*/
    -fx-backgound-color:red;
}
.color{
-fx-background-image:url("/clientchat/resources/color.png" );
}
.font1{
    
 
   -fx-color: blue;
 
}
/*.color-picker {
    -fx-skin: "CustomSkin";
}
.color-picker {
    -fx-background-color: #669999; 
    -fx-background-radius: 0 15 15 0; 
}
.color-picker .color-picker-label .text {
    -fx-fill: #ccffcc;
}*/